.indicators {
  position: absolute;
  z-index: 1;
  bottom: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;

  list-style: none;
}

.indicator {
  width: 20px;
  height: 20px;
  margin: -40px 7.5px 0;

  user-select: none;

  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  outline: none;
  background: none;
  background-clip: padding-box;

  @include lg-md {
    cursor: pointer;
  }
  &:hover {
    cursor: pointer;
  }

  &.active {
    border-color: $color-light;
    box-shadow: 0 0 10px $color-light;
  }
}
