* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.fa-chevron-left,
.fa-chevron-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 40px;
}

.fa-play-circle,
.fa-pause-circle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 40vh;
}

.slides {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #000000;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
  font-size: 40px;
}
.slide.active {
  z-index: 1;
  opacity: 1;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.control-next, .control-prev, .control-pause {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-pause {
  top: calc(50% - 20vh);
  left: calc(50% - 20vh);
  height: 0;
  padding: 0;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  opacity: 0;
}
.control-pause:hover, .control-pause:focus {
  -webkit-transition: opacity 1s ease-in 0.5s;
  -o-transition: opacity 1s ease-in 0.5s;
  transition: opacity 1s ease-in 0.5s;
  opacity: 1;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}
.control-pause span {
  position: absolute;
  display: block;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  opacity: 0;
}
.control-prev {
  left: 0;
  width: 10%;
}
.control-prev:hover, .control-prev:focus {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  text-shadow: 0 0 10px #ffffff;
}
.control-next {
  right: 0;
  width: 10%;
}
.control-next:hover, .control-next:focus {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  text-shadow: 0 0 10px #ffffff;
}

.indicators {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.indicator {
  width: 22px;
  height: 22px;
  margin: -40px 7.5px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  outline: none;
  background: none;
  background-clip: padding-box;
}
.indicator:hover {
  cursor: pointer;
}
.indicator.active {
  border-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}
@media (min-width: 992px) {
  .control-next, .control-prev, .control-pause {
    cursor: pointer;
  }
}
@media (max-width: 991.8px) and (min-width: 768px) {
  .indicator {
    cursor: pointer;
  }
}